body{
    background: url("../img/bg.png");
}

.main-color{
    color:#47a8b4;
}

.btn-main{
    color: #fff;
    background-color: #47a8b4;
    border-color: #47a8b4;
}

.btn-main:hover {
    color: #fff;
    background-color: #028599;
    border-color: #028599;
}

#loading, #image-container{
    display: none;
}

#image{
    max-width: 100%;
}

#loading .spinner-border{
    margin-top:2rem;
    width: 4rem;
    height: 4rem;   
}

#warning .position-absolute{
    right: 2%;
}